* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {



  margin: 0 7%;
}


body {
  background-color: #ece3d4;

  background: linear-gradient(
    to bottom,
    #ece3d484,
    #ece3d484,
    #ece3d4b4,
    #ece3d4,
    #ece3d4,
    #ece3d4
  );

  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;

  place-items: center;
}

header {
  height: 100vh;
  background-image: url("assets/folhas2.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}
nav {
  border-radius: 3px;
  padding: 40px;
  background: linear-gradient(
    to right,
    #f0f0f068 0%,
    #eee 25%,
    #ffe4e1b0 50%,
    #eee 75%,
    #f0f0f068 100%
  );

  width: 98.7vw;

  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;

}

nav h1 {
  font-size: 70px;
  color: rgb(0, 0, 0);
  font-family: "Mate SC", serif;
  font-weight: 900;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  text-align: center;
}

nav p {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}











.saudacao {
  height: 260px;
  display: flex;
  font-size: 28px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  font-weight: 600;
  align-items: center;
  text-align: center;
  padding: 55px 45px;
  margin: 95px 0px 80px 0px;
  line-height: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;

  border-radius: 8px;

  background-color: #eee;
  background-image: url("assets/marmor.png");
  background-size: cover;

}

.saudacao a {
  color: #150ee2;
  padding-left: 5px;
  position: relative;
  text-decoration: line-through;
  z-index: 1;
}

.saudacao a::before {
  background: #d6e9e8;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.saudacao a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.cards {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.stack {
  width: 85%;
  max-width: 300px;
  transition: transform 0.25s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.stack:hover {
  transform: rotate(5deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.card {
  aspect-ratio: 3/2;
  border: 1px solid #696969;
  background-color: #f1faf8;
  position: relative;
  transition: transform 0.15s ease;
border-radius: 4px;
  padding: 5% 5% 5% 5%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.card:before,
.card:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #bebebe;
  background-color: #f1faf8;
  transform-origin: center center;
  z-index: -1;
  transition: transform 0.15s ease;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;

}

.card:before {
  transform: translatey(-2%) rotate(-6deg);
}

.card:after {
  transform: translatey(2%) rotate(6deg);

}

.text-card-border {
  width: 100%;
  border: 1px solid #696969;
  background-color: #eee;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 4px;
  
}

.text-card-border p {
  padding: 15px;
  font-size: 35px;

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
text-align: center;
  font-style: normal;
}

.icon-card {
  width: 30px;
  height: 30px;
}

.browser-warning {
  margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
  .browser-warning {
    display: none;
  }
}






.image-example-contain{

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.image-example{

  width: 330px;
  height: 300px;
border-radius: 8px;
  border: 1px solid #69696993;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}















.card__contain {
  --surface-color: #fff;
  --curve: 8;
}





.cards2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2rem;
  margin: 4rem 0;
  padding: 0;
  list-style-type: none;
  
}

.card2 {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(50, 50, 93, 0.25) 0px -6px 12px -2px;
}

.card2:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card2:hover .card__header {
  transform: translateY(0);
}



.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    



















footer {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  height: 260px;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
  align-items: center;
  background-image: url("assets/praiab.png");
  background-size: cover;
  background-repeat: no-repeat;
}

footer p {
  padding: 20px;
  width: 98.7vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
